*{padding: 0;
margin: 0;
overflow-x: hidden;}
/*----------------- css for navbar---------------*/
.NavBar{
    width: 99%;
    background-color: black;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 1000;
    padding: 2vh;
}
#Navlist{
    display: none;
}
.NavLeft li{
    list-style: none;
}
.NavLeft li a{
    text-decoration: none;
}
.NavRight{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.NavRight li{
    margin: 0 5vw;
    list-style: none;
}
.Link{
    text-decoration: none;
    color: aliceblue;
}
.Link:hover{
    color: blue;
}
.Link:active{
 text-decoration: underline;   
}
.HeaderImg{
    width: 100%;
    height: 100vh;
    
}
.HeaderName{
    position: absolute;
    top: 30%;
    mix-blend-mode:screen;
}
.HeaderName h1{
    color: aliceblue;
    width: 100vw;
    font-size: 7vw;
    text-align: center;
}
h3{
    font-family: 'Poppins', sans-serif;
}

.productheading{
    text-align: center;
    background-color: blue;
    color: aliceblue;
    font-size: x-large;
}


.Product-container{
    height: auto;
}
.Child-container{
display: flex;
}
.Product-child{
    width: 30vw;
    padding-top: 30px;
    text-align: center;
}
.Product-child:hover{
    background-color: yellow;
}
.Product-child img{
    width: 15vw;
    height: 20vh;
    border-radius: 5px 5px;
}
/*---------------------css for enquiry form--------------------*/
#form{
    background-color: rgb(225, 225, 237);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: blue;
    font-size: large;

}
.requiredp{
    color: red;
    font-size: 10px;
}
.enquiry{
    color: rgb(106, 3, 140);
    margin-top: 2vh;
}
.label-container{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    margin-bottom: 2vh;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.label-container label{
    font-weight: bold;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
}
.label-container input{
    width: 50vw;
    height: 6vh;
    border-width: 2px;
    border-radius: 5px;
    border-color: red;
    
}
.label-container input:focus{
    border-color: rgb(0, 255, 21);
    border-width: 3px;
}
.label-container textarea{
    width: 50vw;
    height: 10vh;
    border-radius: 5px;
    border-color: red;
    
}
.label-container textarea:focus{
    border-color: rgb(0, 255, 21);
    border-width: 3px;
}
.formbtn{
width: 20vw;
height: 4vh;
background-color: blue;
color: aliceblue;
font-weight: bold;
border-radius: 5px;
margin-bottom: 10px;
}










/*---------------css for footer ------------------*/
.Footerdiv{
    background-color: black;
    color: aliceblue;
    text-align: center;
}






@media only screen and (max-width:400px) {
    *::-webkit-scrollbar{
        display: none;
    }
    #Navlist{
        display: none;
        position: absolute;
        top: 0;
        height: 100vh;
        width: 50vw;
        z-index: 1000;
        background-color: red;
        position: fixed;
    }
    #closenav{
        margin-left: 90%;
    }
    .Mobilenav{
        color: aliceblue;
    }
    .Mobilenavheader{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .Mobilenavheader li{
        list-style: none;
        color: black;
    }
    .Mobilenavheader li button{
        list-style: none;
        color: black;
        background-color: blue;
        padding:0 3px;
    }
    .NavBar{
        display: none;
        background-color: black;
    }
    .HeaderImg{
        height: 30vh;
    }
    .HeaderName{
        top:15%;
        
    }
    
    .Child-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: blue;
        width: 100%;
        }
    .Product-child{
        width: 100vw;
        text-align: center;
        color: aliceblue;
        width: 100%;
    }
    .Product-child img{
        width: 40vw;
        height: 20vh;
        border-radius: 5px 5px;
        
    }
    .label-container input{
        
        height: 4vh;
        
        
    }
    .label-container input:focus{
        
        border-width: 3px;
    }
    .label-container textarea{
       
        height: 10vh;
        
        
    }
    .label-container textarea:focus{
        
        border-width: 3px;
    }
    .Footerdiv{
        margin-top: 0vw;
    }
    
}